PYTEST_CACHE_DIR=/cache

GROUPME_TOKEN=<your_token_here>
ANTHROPIC_API_KEY=<your_token_here>
BALLDONTLIE_API_KEY=<your_token_here>

TESTING_GROUP_ID=<test_group_id>

POSTGRES_PASSWORD=meeshbot
DATABASE_URL=postgresql+psycopg://meeshbot:meeshbot@postgres:5432/meeshbot

TIMEZONE=America/New_York
